.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 1rem;
  margin: 1rem;
  box-shadow: -1px 2px #7e7c7c;
}
.btn {
  @include btn();
  &:hover {
    color: $primary-text-color;
    background: $card-bg;
  }
}
.btn-danger {
  @include btn();
  background: rgb(207, 22, 22);
  color: white;
  &:hover {
    background: rgb(185, 2, 2);
  }
}

.wrapper {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

//   .body {
//     padding: 2rem;
//     display: flex;
//     flex-direction: row;
//     background: $card-bg;
//     .content {
//       @include flex(space-around, row);
//       background: $right-gradiant;
//       min-height: 400px;
//       width: 100%;
//       padding: 1rem 0;
//       border-radius: 4px;
//       .menu {
//         padding: 0 10px;
//       }
//       @media #{$mobile} {
//         @include flex(space-around, column);
//         text-align: left;
//       }
//     }
//   }
// }

.sets {
  @include flex(space-around, row);
  margin: auto;
  width: 100%;
  .set {
    margin: 0 5px;
  }
}

.green_btn {
  @include btn();
  background: rgb(4, 185, 4);
  &:hover {
    background: rgb(4, 153, 4);
  }
}

.blue_btn {
  @include btn();
  background: $lightest-blue;
  color: $primary-text-color;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  &:hover {
    background: $right-gradiant;
  }
}

.save_btn {
  @include btn();
  background: $card-bg;
  color: $primary-text-color;
  border: none;
  &:hover {
    background: $lightest-blue;
  }
}
.cancel_btn {
  @include btn();
  background: red;
  color: $primary-text-color;
  border: none;
  &:hover {
    background: darkred;
  }
}
.apply_btn {
  @include btn();
}

.inputSave {
  @include input();
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
}

.box {
  width: 45px;
  @media #{$mobile} {
    width: 5px;
  }
}

.row {
  @include flex(space-around, row);
  align-items: center;
  text-align: left;
  padding: 0 3rem;
  border-radius: 4px;
  background: $lightest-blue;
  margin: 3px 2rem;
  p {
    margin: auto;
    padding: 8px 0;
    width: 100%;
  }
  &:hover {
    background: $lightest-blue-hover;
  }
}
.scrollable {
  height: 450px;
  overflow-y: scroll;
}

// .errorWrapper {
//   background-color: #f44336;
//   color: $primary-text-color;

//   font-weight: bold;
//   padding: 15px;
//   margin: 2rem;
//   border-radius: 4px;
// }
.global_error {
  position: absolute;
  top: 50%;
  width: 100%;
  border-radius: 4px;
  background-color: #ff7272;
  color: $primary-text-color;

  padding: 1rem;
  text-align: center;
}
.message {
  animation: glow ease 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.marketing {
  text-align: center;
  margin: 0 6rem;
}
.validate {
  color: red;
}
