.form {
  @include flex(space-around, column);
  text-align: left;
}

.form-submit {
  display: flex;
  justify-content: center;
  button {
    margin-top: 1rem;
    width: 100%;
  }
}
.password {
  display: flex;
  align-items: center;
}
