.header {
  @include flex(space-between, row);
  align-items: baseline;
  background-color: $primary-bg-color;
  padding: 1rem;
  color: white;
  overflow: hidden;
  cursor: pointer;
  a {
    color: white;
    padding: 0.5rem;
    text-decoration: none;
  }
  .nav {
    display: flex;
    align-items: baseline;
  }
}
.container {
  background-color: $primary-bg-color;
  color: $primary-txt-color;
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  background-color: $primary-bg-color;
  padding: 1rem;
  color: $primary-txt-color;
}
