@mixin flex($content, $direction) {
  display: flex;
  justify-content: $content;
  flex-direction: $direction;
}

@mixin btn() {
  text-align: center;
  border-radius: 4px;
  margin: auto;
  border: none;
  cursor: pointer;
}
@mixin input() {
  background: $card-bg;
  color: $primary-text-color;
  box-sizing: border-box;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

// media query
$mobile: "(max-width : 500px)";
