@mixin flex($content, $direction) {
  display: flex;
  justify-content: $content;
  flex-direction: $direction;
}

@mixin btn() {
  box-shadow: -1px 3px #666;
  max-width: 200px;
  min-width: 80px;
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  &:active {
    transform: translateY(4px);
  }
}
@mixin input() {
  box-sizing: border-box;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 4px;
}

// media query
$mobile: "(max-width : 500px)";
